# dependencies
node_modules/
**/node_modules/

# build output
dist/
build/
coverage/
**/dist/
**/build/
**/coverage/

# env & secrets
.env
.env.*
**/.env
**/.env.*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/